body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: black;
    background-image: url("../images/nice_snow.png");
    margin: 0px;
}

/*Navbar*/

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.header-line {
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 74px;
    width: 100%;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #cccccc;
    position: fixed;
    z-index: 100;
}

header {
    float: left;
    height: 74px;
    width: 270px;
}

.name {
    vertical-align: middle;
    color: #ffffff;
    font-weight: bold;
    background-color: seagreen;
    line-height: 72px;
    font-size: 30px;
    padding: 0px 38px 0px 30px;
    display: inline-block;
}

.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.section-bar {
    text-align: right;
    line-height: 74px;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.nav-item {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    color: #777777;
    background-color: #ffffff;
    line-height: 20px;
    border-right: 1px solid #eee;
    vertical-align: middle;
}


.nav-index {
    width: 75px;
}

.nav-portfolio, .nav-resume {
    width: 85px;
}

.nav-skills {
    width: 70px;
    border-right: none;
}

.nav-index:hover {
    color: seagreen;
    font-weight: bold;
}

.nav-portfolio:hover {
    color: seagreen;
    font-weight: bold;
}

.nav-resume:hover {
    color: seagreen;
    font-weight: bold;
}

.nav-skills:hover {
    color: seagreen;
    font-weight: bold;
}

/*Header Names*/

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: gray;
    font-weight: bold;
}

/*About Me Section*/
.about-me {
    background-color: #ffffff;;
    border: 1px solid #aeb2b2;
    margin-top: 115px;
}

.article-heading {
    font-size: 30px;
    color: seagreen;
    line-height: 75px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

.bio-divider {
    margin: 0px;
    height: 3px;
    background-color: #dcdcdc;
    border: none;
}

.image {
    float: left;
    height: 200px;
    padding: 18px 25px;
}

.bio {
    color: #777777;
    height: 200px;
    font-size: 17px;
    line-height: 25px;

}

.bio-text {
    height: 200px;
    vertical-align: middle;
    padding-top: 45px;
    margin-bottom: 0px;
}

/*Connect with Me Section*/

h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: seagreen;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    line-height: 45px;
    vertical-align: middle;
    margin-top: .5rem;
}

.aside {
    background-color: #ffffff;
    border: 1px solid #aeb2b2;
    height: 100%;
    padding-bottom: 1.5rem;
    margin-top: 115px
}

.connect-image-div {
    text-align: center;
}

.img__wrap {
    display: inline-block;
    text-align: center;
    margin: 10px 5px 0px 5px;
}

.connect-divider {
    height: 2px;
    background-color: #dcdcdc;
    border: none;
}

.connect-image-github {
    height: 60px;
    width: 60px;
    vertical-align: middle;
}

.connect-image-linkedin {
    height: 60px;
    width: 60px;
    vertical-align: middle;
}

.connect-image-email {
    height: 60px;
    width: 60px;
    vertical-align: middle;
}

/*Portfolio Section*/

.portfolio {
    background-color: #ffffff;;
    border: 1px solid #aeb2b2;
    margin-top: 40px;
    margin-bottom: 40px;
}

.portfolio-divider {
    margin: 0 0 20px 0;
    height: 3px;
    background-color: #dcdcdc;
    border: none;
}

.image-div {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.portfolio-image-div {
    text-align: center;

}

.portfolio-image {
    width: 150px;
    margin: auto;
}

.img__description {
    text-align: center;
    height: 35px;
    width: 165px;
    vertical-align: middle;
    color: #808080;
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*transition: opacity .2s, visibility .2s;*/
}

.image-div:hover .img__description {
    color: seagreen;
    font-weight: bold;
}

/*Skills Section*/

.skills {
    background-color: #ffffff;;
    border: 1px solid #aeb2b2;
    margin-bottom: 40px;
}

.skill-div {
    display: inline-block;
    text-align: center;
}

.skill-div p {
    margin-top: 20px;
    color: #777777;
    font-size: 17px;
}

.skills-divider {
    margin-bottom: 50px;
}

.skill-type {
    text-align: left;
    font-size: 23px;
    margin-left: 25px;
}

.skill-image {
    max-height: 80px;
    max-width: 100%;
    height: auto;
    margin: 0px 20px 0px 20px;
}

.skills-row {
    margin: 20px 0px 20px 0px;
}

/*Footer Section*/

footer {
    background-color: #666666;
    color: #ffffff;
    left: 0;
    bottom: 0;
    height: 84px;
    width: 100%;
    text-align: center;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: seagreen;
    z-index: 100;
}

.copyright {
    font-size: 12px;
    line-height: 94px;
    vertical-align: middle;
}

/*Responsive Widths*/

@media only screen
and (max-width: 768px) {

    .anchor {
        top: -140px;
    }

    .header-line {
        height:145px;
    }

    .name {
        width: 100%;
        text-align: center;
    }

    .section-bar{
        text-align: center;
    }

    .about-me, .aside{
        margin-top:170px;
    }
}

@media only screen
and (max-width: 575px) {
    .aside{
        margin-top: 40px;
    }
}