body {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: black;
    /*background-image: url("../images/nice_snow.png");*/
    background-image: url("../images/psychadelic-stained-paper-texture-10.jpg");
    background-attachment: fixed;
    margin: 0px;
}

/*Navbar*/

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.header-line {
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 74px;
    width: 100%;
    /*background-color: #ffffff;*/
    background-image: url("../images/nice_snow.png");
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: seagreen;
    position: fixed;
    z-index: 100;
}

header {
    float: left;
    height: 74px;
    width: 270px;
}

.name {
    vertical-align: middle;
    color: seagreen;
    font-weight: bold;
    /*background-color: seagreen;*/
    line-height: 72px;
    font-size: 30px;
    padding: 0px 38px 0px 30px;
    display: inline-block;
}

.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.section-bar {
    text-align: right;
    line-height: 74px;
    font-size: 14px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.nav-item {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    color: #777777;
    /*background-color: #ffffff;*/
    line-height: 20px;
    border-right: 1px solid seagreen;
    vertical-align: middle;
}

.nav-index {
    width: 75px;
}

.nav-portfolio, .nav-resume {
    width: 85px;
}

.nav-skills {
    width: 70px;
    border-right: none;
}

.nav-index:hover {
    color: seagreen;
    font-weight: bold;
}

.nav-portfolio:hover {
    color: seagreen;
    font-weight: bold;
}

.nav-resume:hover {
    color: seagreen;
    font-weight: bold;
}

.nav-skills:hover {
    color: seagreen;
    font-weight: bold;
}

/*Header Names*/

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: gray;
    font-weight: bold;
}

/*About Me Section*/
.about-me {
    background-image: url("../images/nice_snow.png");
    /*background-color: #ffffff;;*/
    border: 1px solid seagreen;
    border-radius: 25px;
    margin-top: 115px;
    width: 100%;
}

.article-heading {
    font-size: 30px;
    color: seagreen;
    line-height: 75px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0px;
}

.bio-divider {
    margin: 0px;
    height: 3px;
    /*background-color: #dcdcdc;*/
    background-color: seagreen;
    border: none;
}

.image {
    float: left;
    height: 200px;
    padding: 18px 25px 0px 10px;
}

.bio {
    color: #777777;
    font-size: 17px;
    line-height: 25px;
    padding-bottom: 22px;
    /*width: 1110px;*/
}

.bio-text {
    vertical-align: middle;
    padding-top: 15px;
    margin-bottom: 0px;
    /*width: 100%;*/
}

.photography:hover {
    display: inline-block;
    font-weight: bold;
}

/*Connect with Me Section*/

h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: seagreen;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    line-height: 45px;
    vertical-align: middle;
    margin-top: .5rem;
}

.aside {
    /*background-color: #ffffff;*/
    background-image: url("../images/nice_snow.png");
    border: 1px solid seagreen;
    border-radius: 25px;
    height: 100%;
    padding-bottom: 1.5rem;
    margin-top: 120px;
    float: right;
    /*margin-top: -71px;*/
    /*margin-left: 30px;*/
}

.connect-image-div {
    text-align: center;
}

.img__wrap {
    display: inline-block;
    text-align: center;
    margin: 10px 5px 0px 5px;
}

.connect-divider {
    height: 2px;
    /*background-color: #dcdcdc;*/
    background-color: seagreen;
    border: none;
}

.connect-image-github {
    height: 60px;
    width: 60px;
    vertical-align: middle;
}

.connect-image-github:hover {
    display: inline-block;
}

.connect-image-linkedin {
    height: 60px;
    width: 60px;
    vertical-align: middle;
}

.connect-image-linkedin:hover {
    display: inline-block;
}


.connect-image-email {
    height: 60px;
    width: 60px;
    vertical-align: middle;
}

.connect-image-email:hover {
    display: inline-block;
}


/*Portfolio Section*/

.portfolio {
    /*background-color: #ffffff;;*/
    background-image: url("../images/nice_snow.png");
    /*border: 1px solid #aeb2b2;*/
    border: 1px solid seagreen;
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.portfolio-divider {
    margin: 0 0 20px 0;
    height: 3px;
    /*background-color: #dcdcdc;*/
    background-color: seagreen;
    border: none;
}

.image-div {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.portfolio-image-div {
    text-align: center;

}

.portfolio-image {
    width: 150px;
    margin: auto;
}

.img__description {
    text-align: center;
    height: 35px;
    width: 165px;
    vertical-align: middle;
    color: #808080;
}

.image-div:hover .img__description {
    color: seagreen;
    text-decoration: underline;
    cursor: pointer;
}

/*Skills Section*/

.skills {
    /*background-color: #ffffff;;*/
    background-image: url("../images/nice_snow.png");
    /*border: 1px solid #aeb2b2;*/
    border: 1px solid seagreen;
    border-radius: 25px;
    margin-bottom: 40px;
}

.skill-div {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

.skill-div p {
    margin-top: 20px;
    color: #777777;
    font-size: 17px;
}

.skills-divider {
    margin-bottom: 30px;
}

.skill-type {
    text-align: left;
    font-size: 23px;
    margin-left: 25px;
}

.skill-image {
    max-height: 80px;
    max-width: 100%;
    height: auto;
    margin: 0px 20px 0px 20px;
}

.skills-row {
    /*margin: 20px 0px 20px 0px;*/
    text-align: center;
}

/*Footer Section*/

footer {
    /*background-color: #666666;*/
    background-image: url("../images/nice_snow.png");
    border: 1px solid seagreen;
    color: seagreen;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: seagreen;
    z-index: 100;
}

.copyright {
vertical-align: middle;
line-height: 45px;
}

/*Responsive Widths*/

@media only screen
and (max-width: 768px) {

    .anchor {
        top: -140px;
    }

    .header-line {
        height: 145px;
    }

    .name {
        width: 100%;
        text-align: center;
    }

    .section-bar {
        text-align: center;
    }

    .about-me, .aside {
        margin-top: 170px;
    }
}

@media only screen
and (max-width: 575px) {
    .aside {
        margin-top: 40px;
    }
}